/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*
Variables
*/

:root {
  --ff-primary: "Kumbh Sans", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1rem;
  --fs-body: 1rem;

  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --line-height: 1.15;
  --spacing: 0.1rem;
  --transition: all 0.3s linear;
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.125rem;
    --fs-body: 1.125rem;
    --line-height: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  /* color: var(--clr-dark); */
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1;
  transition: var(--transition);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:focus {
  /* outline: 3px solid var(--clr-accent); */
  outline-offset: 3px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: var(--line-height);
  /* margin-bottom: 0.75rem; */
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}

.btn {
  display: flex;
  padding: 0.5em 2.5em;
  background: var(--orange);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  border: var(--orange);
  transition: var(--transition);
  border-radius: 5px;
  height: 3rem;
}

.btn:hover {
  background: var(--pale-orange);
  /* box-shadow: ; */
}

.icon {
  border: 0;
  outline: 0;
  background: transparent;
  width: 2em;
  height: 2em;
}

.icon:hover {
  cursor: pointer;
}

.nav {
  padding: 1.5em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr 80px;
}

.push-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 0.5em;
}

.logo a {
  width: 100%;
  height: 100%;
}

.profile-pic {
  border-radius: 50%;
}

.profile-pic:hover {
  border: 2px solid var(--orange);
}

.links {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 65vw;
  height: 100%;
  z-index: 100;
  background-color: var(--white);
  transition: var(--transition);
  display: grid;
  grid-template-rows: 50px 1fr auto;
  transform: translateX(-100%);
}

.sidebar-header {
  justify-self: end;
  padding: 1em 0em;
}

.show-sidebar {
  transform: translateX(0);
}

.close {
  height: 3em;
}

.sidebar-links a {
  color: black;
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1em 1.5em;
  font-weight: var(--fw-bold);
  transition: var(--transition);
}

.sidebar-links a:hover {
  background: var(--orange);
  color: white;
  padding-left: 2em;
}

.social-icons {
  display: flex;
  justify-self: center;
  padding-bottom: 2em;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: var(--orange);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 800px) {
  .nav-toggler {
    display: none;
  }

  .nav {
    grid-template-columns: 1fr auto minmax(535px, 3fr) 80px 1fr;
    padding: 2.3em 0;
  }

  .links a {
    text-transform: capitalize;
    color: var(--grayish-blue);
    position: relative;
  }

  .logo {
    margin-left: 0;
    grid-column: 2/3;
  }

  .links {
    display: flex;
    grid-column: 3/4;
    justify-content: start;
    align-items: center;
  }

  .links ul {
    display: flex;
    align-items: center;
  }

  .links li {
    font-size: var(--fs-h4);
    margin-left: 2em;
  }

  .push-right {
    grid-column: 4/5;
  }

  .links a::after {
    content: " ";
    display: block;
    height: 4px;
    background: var(--orange);
    position: absolute;
    bottom: -2.4em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: var(--transition);
  }
  .links a:hover {
    color: var(--black);
  }

  .links a:hover::after {
    transform: scale(1, 1);
  }
}

.section-1 {
  position: relative;
  /* height: 50vh; */
}

.slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.prev,
.next {
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 0;
}

.prev {
  top: 50%;
  left: 5%;
}

.next {
  top: 50%;
  right: 5%;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

.thumbnail-container {
  display: none;
}

.section-2 {
  padding: 1.5em;
}

.section-2 h2 {
  font-size: 1rem;
  color: var(--orange);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding-bottom: 1.2em;
}

.section-2 h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.5em;
}
.section-2 h3 + p {
  color: var(--dark-grayish-blue);
  margin-bottom: 1em;
}

.price-list {
  display: flex;
  max-width: 800px;
  align-items: center;
}

.price-list div {
  display: flex;
  align-items: center;
}

.price-list p:not(.strike) {
  font-weight: var(--fw-bold);
  margin-right: 0.5em;
  font-size: 2rem;
}

.price-list span {
  align-self: center;
  padding: 0.4em 0.5em;
  border-radius: 5px;
  background-color: var(--pale-orange);
  color: var(--orange);
  font-weight: var(--fw-bold);
}

.strike {
  margin-left: auto;
  color: var(--grayish-blue);
  text-decoration: line-through;
  align-self: center;
}

@media screen and (min-width: 800px) {
  .strike {
    margin-right: auto;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1em;
  height: 3em;
  background-color: var(--light-grayish-blue);
  border-radius: 5px;
}

.number span {
  font-weight: var(--fw-bold);
}

.plus,
.minus {
  display: grid;
  place-content: center;
}

.add-to-cart {
  width: 100%;
}

.add-to-cart svg {
  margin-right: 1.5em;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 1170px) {
  .nav {
    border-bottom: 1px solid red;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-1,
  .section-2 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .prev,
  .next {
    display: none;
  }

  .slider {
    height: 70%;
    width: 70%;
    margin: 3em auto 1em auto;
  }

  .image {
    /* height: 70%;
    width: 80%;
    margin: 3em auto 2em auto; */
    border-radius: 1em;
  }

  .thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-column-gap: 1em;
    width: 70%;
    margin: 0 auto 2em auto;
  }

  .thumbnail {
    height: 100%;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
  }

  .thumbnail.active {
    opacity: 0.4;
    border: 2px solid var(--orange);
    border-radius: 0.5em;
  }

  .thumbnail:not(.active):hover {
    opacity: 0.6;
  }

  .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5em;
  }

  .section-2 h3 + p {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .price-list {
    display: block;
  }

  .price-list div {
    margin-bottom: 1em;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .number-container {
    flex-grow: 1;
  }
  .button-container {
    flex-grow: 1;
  }
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

#lightbox.active {
  display: flex;
}

.lightbox-container {
  width: 45%;
  height: 80%;
  max-width: 613px;
}

.lightbox-main {
  height: 85%;
  margin-bottom: 1em;
}

.relative {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.lightbox-slide {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
}

.main {
  width: 100%;
  object-position: center;
  /* object-fit: cover; */
  height: 100%;
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.lightbox-thumbnail-container {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.lightbox-thumbnail {
  height: 100%;
  background-color: var(--light-grayish-blue);
  cursor: pointer;
  border-radius: 0.5em;
  overflow: hidden;
  /* flex: 1 1 80px; */
}

.current-thumbnail {
  border: 2px solid var(--orange);
}

.current-thumbnail img {
  opacity: 0.4;
}

.lightbox-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* margin: 0 auto; */
}

.lightbox-thumbnail:not(.current-thumbnail):hover img {
  opacity: 0.6;
}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #ffffff;
  border: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

.lightbox-close:hover svg {
  fill: var(--orange);
}

.lightbox-close {
  position: absolute;
  height: 2em;
  width: 2em;
  display: grid;
  place-items: center;
  top: -5%;
  right: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.lightbox-close svg {
  fill: #ffffff;
}

.lightbox-prev:hover,
.lightbox-next:hover {
  color: var(--orange);
}

.lightbox-prev {
  top: 50%;
  left: -5%;
}

.lightbox-next {
  top: 50%;
  right: -5%;
}
